<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khacquyetdang.android.com.cookingtime">
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CategoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlatsActivity">
        </activity>
        <activity android:name=".PlatDetailActivity"
            android:theme="@style/MyTheme.Detail">
        </activity>
        <activity android:name=".MinuteurActivity">
        </activity>
    </application>

</manifest>